<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand no-select" style="display: flex;">
            <img style="max-width: 80px; margin-right: 10px;" src="img/logo.svg">
            <%= app %>
        </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul id="navbarWidgets" class="nav navbar-nav navbar-right">
        </ul>
        <ul id="navbarModes" class="nav navbar-nav navbar-right">
        </ul>
    </div>
</div>