<!--<h1 class="sidebar-header" style="">Машины</h1>-->

<div class="input-group" style="padding: 10px 20px 10px 20px;">
    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>-->
    <input class="form-control target-filter" type="text" placeholder="Поиск">
    <span class="input-group-btn"><button class="btn btn-default target-clear-filter" type="button">
        <i class="glyphicon glyphicon-remove-circle"></i></button>
    </span>
</div>
<div class="targets-widget-wrapper" style="height: calc(100% - 55px);"></div>
