.main-pane {
    position: fixed;
    display: flex;
    height: calc(100% - 55px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-widget-wrapper {
    width: 400px;
}

.map-widget-wrapper {
    width: calc(100% - 400px);
}

/*
@media (max-width: 768px) {
    .map-widget-wrapper .navbar-toggle, #searchBox {
        display: none;
    }
}

.map-widget-wrapper {
    position: fixed !important; 
    top: 51px; 
    left: 0px; 
    height: calc(100% - 51px); 
    width: 100%;
}
*/

/*
.targets-widget-wrapper {
    position: fixed !important; 
    top: 51px; 
    height: calc(100% - 51px); 
    width: 300px;
}
*/

/*
@media screen and (max-width: 767px) and (orientation:portrait) {
    .targets-widget-wrapper {
        top: unset;
        bottom: 0px; 
        height: 200px; 
        width: 100%;
    }

    .map-widget-wrapper {
        left: 0px; 
        width: 100%;
        height: calc(100% - 251px);
    }
}*/