.targets-widget {
    list-style: none;
    word-wrap: break-word;
    padding: 0px 10px 0px 10px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.targets-widget > li {
    padding: 10px;
    border-bottom: 1px solid #dedede;
}

.targets-widget > li {
    width: 100%;
    display: block;
}
